body {
    padding:30px;
}

h1,h2,h3 {
    font-weight: normal;
}
#all {
    display:flex;
}
#pictures {
    flex: 1 0 auto;
}
#info {
    padding-left: 30px;
    flex: 1 1 auto;
    align-items: left;
}
.name {
    display:flex;
    align-items: center;
}
.avatar {
    margin-left: 8px;
}
#rating {
    display: flex;
}
#stars {
    flex: 1 0 auto;
}
#cost {
    flex: 0 1 auto;
    align-items:right;
}
#title {
    display: flex;
}