body {
    padding:30px;
}

h1,h2,h3 {
    font-weight: normal;
}
#all {
    display:inline-flex;
    flex-wrap:wrap;
    column-gap: 30px;
    }
#info {
    align-items: left;
    flex: 1 1 400px;
}
.name {
    display:flex;
    align-items: center;
}
.avatar {
    margin-left: 8px;
}
#rating {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
#stars {
    flex: 0 0 auto;
}
#cost {
    flex: 0 1 auto;
}
#title {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
#name {
    flex: 0 1 auto;
    }
#autor {
   flex: 0 1 auto;
   justify-content:flex-end;
}
h3~p {
    text-indent: 20px;
    text-align: justify;
}
#pictures {
    flex: 0 1 400px;
}
#poster {
    width:100%;
}