body {
    padding:30px;
}

h1,h2,h3 {
    font-weight: normal;
}
#all {
    display:inline-flex;
    flex-wrap:wrap;
    }
#info {
    padding-left: 30px;
    align-items: left;
    width: 1000px;
}
.name {
    display:flex;
    align-items: center;
}
.avatar {
    margin-left: 8px;
}
#rating {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
#stars {
    flex: 0 0 auto;
}
#cost {
    flex: 0 1 auto;
}
#title {
    display: flex;
    flex-wrap: wrap;
}
#name {
    flex: 0 0 auto;
    padding-right: 10px;
}
#autor {
   flex: 0 1 auto;
   justify-content:flex-end;
}
p {
    text-indent: 20px;
    text-align: justify;
}